html {
  font-family: century-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: century-godthic;
  src: url("https://use.typekit.net/oov2wcw.css");
}
* {
  margin: 0;
  padding: 0;
}
#main {
  width: 1920px;
  background-color: #0f1320;
}
/*Header*/
#header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 20px;
  position: relative;
  align-items: center;
}
.logo-img {
  margin-right: 80px;
}
.logo-img img {
  width: 190px;
  height: 30px;
}
.nav {
  display: flex;
  flex-direction: row;
}
.nav li {
  margin-right: 30px;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.sign {
  position: absolute;
  right: 20px;
  color: #ffffff;
}
button {
  background-color: transparent;
}
.menu-mb {
  display: none;
}
.sign a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
.sign-in-btn {
  height: 48px;
  width: 100px;
  border: none;
}
.sign-up-btn {
  width: 147px;
  height: 48px;
  border-radius: 32px;
  border: 2px solid #22a75d;
}
/* Content */
.intro {
  position: relative;
  height: 900px;
  margin-left: 173px;
  margin-top: 130px;
}
.title p {
  color: #ffffff;
  width: 377px;
  height: 84px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -2%;
}
.introduce p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -2%;
}
h2 {
  color: #ffd100;
  font-size: 96px;
  font-weight: 700;
  letter-spacing: -2%;
  width: 648px;
}
.introduce {
  position: relative;
  position: absolute;
  width: 648px;
  height: 203px;
  transform: translateX(70%);
}
.vector-mb {
  display: none;
}
.route-mb {
  display: none;
}
.currency {
  position: absolute;
  right: 0;
  bottom: 0;
}
.introduce-2 {
  position: absolute;
  position: relative;
  width: 298px;
  height: 130px;
  transform: translate(0%, 160%);
}
.introduce-2 p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2%;
}
.introduce-2 h3 {
  color: #2278d4;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -2%;
  width: 298px;
}
.currency-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.introduce-3 {
  position: absolute;
  position: relative;
  width: 298px;
  height: 130px;
  transform: translate(430%, 250%);
}
.introduce-3 p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2%;
}
.introduce-3 h3 {
  color: #e20613;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -2%;
  width: 298px;
}
.currency-3 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.vector {
  position: relative;
  position: absolute;
  transform: translate(15%, 50%);
}

.vector-img {
  background-color: transparent;
}
/*Route*/
.route {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  justify-content: center;
  margin: auto;
}
.route-card {
  background-color: #171b29;
  width: 220px;
  height: 150px;
  padding-top: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.route-year {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  margin-right: 10px;
}
.route-title {
  background-color: transparent;
}
.year-green {
  color: #22a75d;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}
.year-yellow {
  color: #ffd100;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}
.year-red {
  color: #e20613;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}
.year-blue {
  color: #0f87ca;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
}
.bubble-green {
  background-color: #22a75d;
  width: 22.4px;
  height: 22.4px;
  border-radius: 20px 20px 20px 10px;
  box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.bubble-yellow {
  width: 22.4px;
  height: 22.4px;
  border-radius: 20px 20px 20px 10px;
  background: #ffd100;
  box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.bubble-blue {
  width: 22.4px;
  height: 22.4px;
  border-radius: 20px 20px 20px 10px;
  background: #0f87ca;
  box-shadow: 0px 15px 25px rgba(15, 135, 202, 0.25);
}
.bubble-red {
  width: 22.4px;
  height: 22.4px;
  border-radius: 20px 20px 20px 10px;
  background: #e20613;
  box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
}
.route-card p {
  color: #ffffff;
  background-color: transparent;
}
.route-day {
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
small {
  color: #ffffff;
  background-color: transparent;
}
.route-income {
  font-weight: 400;
  opacity: 70%;
}
.route-hidden {
  visibility: hidden;
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*Target*/
.taget {
  position: relative;
}
.target-tokens {
  position: absolute;
  width: 1000px;
  height: 469px;
  background-color: #ffffff;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  position: relative;
  transform: translate(75%, 35%);
}
.taget {
  width: 100%;
}
.taget img {
  width: 100%;
}
.target-tokens p {
  background-color: transparent;
}
.target-title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -2%;
  width: 671px;
  position: absolute;
  transform: translate(25%, 50%);
}
.target-quanty {
  position: absolute;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: -2%;
  color: #19a255;
  transform: translate(25%, 190%);
}
.target-currency {
  font-weight: 400;
  font-size: 20px;
  width: 63px;
  height: 54px;
  position: absolute;
  right: 170px;
  bottom: 80px;
}
.target-supply {
  width: 1000px;
  height: 469px;
  background-color: #ffffff;
  border-radius: 25px;
  text-align: center;
  align-items: center;
  position: relative;
  position: absolute;
  transform: translate(15%, 45%);
}
.target-supply p {
  background-color: transparent;
}
.target-supply .target-title {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -2%;
  width: 671px;
  position: absolute;
  transform: translate(25%, 180%);
}
.target-supply .target-quanty {
  position: absolute;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: -2%;
  color: #ffd100;
  transform: translate(32%, 110%);
}
.target-supply .target-currency {
  font-weight: 400;
  font-size: 20px;
  width: 63px;
  height: 54px;
  position: absolute;
  right: 200px;
  bottom: 160px;
}
.target-supply .target-para {
  font-weight: 400;
  font-size: 16px;
  opacity: 60%;
  width: 636px;
  position: absolute;
  bottom: 90px;
  right: 180px;
  text-align: center;
}

.target-img {
  position: relative;
}
.target-img-mb {
  display: none;
}
.target {
  position: absolute;
  top: 1550px;
}
/*Menu bottom*/
.footer {
  display: flex;
  justify-content: center;
}
.menu-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}
.menu-bottom a {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
.menu-bottom span {
  color: #ffffff;
  font-weight: 700;
  opacity: 16%;
}
.info {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 200px;
}

.license .copy-right {
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  color: #ffffff;
}

.license .author {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  text-decoration: underline;
  opacity: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
.logo-author {
  margin-right: 10px;
}
.sns button {
  width: 50px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 25px;
}
.sns img {
  width: 20px;
  height: 20px;
}
.info-mb {
  display: none;
}
@media screen and (max-width: 391px) {
  #main {
    width: 100%;
    background-color: #0f1320;
  }
  #header {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 50px;
  }
  .logo-img img {
    width: 155px;
    height: 25px;
  }
  .menu {
    display: none;
  }
  .menu-mb {
    display: inline-block;
    position: absolute;
    transform: translate(1350%, 20%);
  }
  .nav-mb {
    display: none;
  }
  .menu-mb:active .nav-mb {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .sign {
    display: none;
  }
  .intro {
    margin: 15px;
    height: 750px;
  }
  .title {
  }
  .title p {
    font-weight: 700;
    font-size: 32px;
    margin-right: 10px;
    letter-spacing: -2%;
    width: 313px;
  }
  .introduce {
    position: relative;
    position: absolute;
    width: 375px;
    transform: translatey(20%);
  }
  .introduce p {
    color: #ffffff;
    width: 218px;
    font-weight: 700;
    letter-spacing: -2%;
    font-size: 16px;
  }
  .introduce h2 {
    color: #ffd100;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -2%;
    width: 335px;
  }
  .currency {
    position: absolute;
    transform: translate(40%, -350%);
  }
  .introduce-2 {
    position: absolute;
    position: relative;
    width: 224px;
    height: 85px;
    transform: translate(50%, 230%);
  }
  .introduce-2 p {
    font-size: 14px;
  }
  .introduce-2 h3 {
    font-size: 36px;
  }
  .currency-2 {
    position: absolute;
  }
  .introduce-3 {
    width: 224px;
    height: 86.5px;
    position: absolute;
    position: relative;
    transform: translate(5%, 240%);
  }
  .introduce-3 p {
    font-size: 14px;
  }
  .introduce-3 h3 {
    font-size: 36px;
  }
  .vector {
    display: none;
  }
  .vector-mb {
    display: block;
  }
  .vector-mb img {
    position: absolute;
    width: 495px;
    height: 180.26px;
    left: -70px;
    top: 530px;
  }
  .route {
    display: none;
  }
  .route-mb {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .route-card-mb {
    background-color: #171b29;
    width: 155px;
    min-height: 130px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 25px;
    margin: 5px;
    padding-bottom: 10px;
  }
  .route-card-mb p {
    color: #ffffff;
    background-color: transparent;
  }
  .route-card-mb h6 {
    margin-right: 10px;
  }
  .route-year-mb {
    display: flex;
    flex-direction: row;
  }
  .route-day-mb {
    font-weight: 700;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .route-hidden-mb {
    visibility: hidden;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .target-img img {
    width: 390px;
  }
  .target-img-mb {
    display: block;
  }
  .target-img-web {
    display: none;
  }
  .target-img {
    position: relative;
  }
  .target-tokens {
    position: absolute;
    width: 335px;
    height: 246px;
    transform: translate(6%, 130%);
  }
  .target-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -2%;
    width: 283px;
    position: absolute;
    transform: translate(10%, 40%);
  }
  .target-quanty {
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2%;
    color: #19a255;
    transform: translate(10%, 300%);
  }
  .target-currency {
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 3px;
  }
  .target-supply {
    width: 335px;
    height: 246px;
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    position: relative;
    position: absolute;
    transform: translate(6%, 240%);
  }
  .target-supply .target-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -2%;
    width: 283px;
    position: absolute;
    transform: translate(10%, 150%);
  }
  .target-supply .target-quanty {
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2%;
    color: #19a255;
    transform: translate(18%, 150%);
  }
  .target-supply .target-currency {
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 70px;
  }
  .target-supply .target-para {
    font-weight: 400;
    font-size: 12px;
    opacity: 60%;
    width: 280px;
    position: absolute;
    bottom: 30px;
    left: 25px;
    text-align: none;
  }
  .footer {
    display: none;
  }
  .info {
    display: none;
  }
  .info-mb {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 150px;
  }

  .info-mb .logo-info {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .info-mb .license {
    margin-top: 30px;
  }
  .info-mb .copy-right {
    font-weight: 700;
    font-size: 14px;
    text-align: right;
    color: #ffffff;
  }
  .info-mb .author {
    justify-content: center;
  }
}
